
body{
  background-color:#dad7cd;
  font-family: Arial, Helvetica, sans-serif;
  color: #2b2d42;
}
div{
  margin: auto;
  max-width: 1100px;
  width: 1100px;
  text-align:center;

}
#titulo{
  position: relative;
  justify-content: center;
  align-items: center;

}
h1{
  text-align: center;
  margin-bottom: 5%;
  padding: 2%;
}
label, p,.color{
  font-weight:500;
  font-size: 23px;

}

h3{
  font-size: 25px;
}

#calcular{
  width:150px;
  background-color: #74c69d;
  color:#0d1b2a;
  border-radius: 15px;
  height: 2rem;
  cursor: pointer;
  font-weight: 700;
  font-size: 22px;
}

input[type=text],select{
color: #0d1b2a;
height: 40%;
}


